.bg-teal {
  background-color: #aecdbc;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bold;
  font-size: large;
}

.nav-img {
  margin-bottom: 5px;
  width: 22px;
}

.icon-header {
  display: flex;
  width: 1.75rem;
  height: 1.75rem;
}

#nav-dropdown {
  margin-left: 8px;
}

a.dropdown-toggle::after {
  display: flex;
  margin-left: 0;
  vertical-align: 0;
  content: "";
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
}

#position-search {
  z-index: 1;
  background-color: #aecdbc;
  border-radius: 0.5rem;
  position: absolute;
  width: 306px;
  max-height: 320px;
  overflow-y: auto;
  overflow-x: hidden;

  /*This is relative to the navbar now*/
  left: 68.4vw;
  top: 70px;
  transform: translate(-1vw, -0%);
}

.expanded-search {
  top: 199px !important;
}

.search-header {
  font-family: Lato;
}

.logo-header {
  max-width: 50px;
}

a.link-header {
  padding: 0.25rem 0.5rem;
  color: rgb(0, 0, 0, 0.6);
  text-decoration: none;
  border-top: 3px solid #aecdbc;
  border-bottom: 3px solid #aecdbc;
}

a.brand-header {
  padding: 0.1rem 0;
  color: rgb(0, 0, 0, 0.9);
  text-decoration: none;
}

a.match-header,
a.championship-header {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  border-top: 3px solid #aecdbc;
  border-bottom: 3px solid #4a8464;
  color: rgb(0, 0, 0, 0.9);
}

a.link-header:hover,
a.match-header:hover,
a.championship-header:hover {
  color: rgb(0, 0, 0, 0.9);
}

@media only screen and (max-width: 991px) {
  .search-header {
    margin-top: 8px;
  }

  #position-search {
    /*This is relative to the navbar now*/
    left: 50%;
    transform: translate(-50%, -0%);
  }
}

@media only screen and (max-width: 450px) {
  #position-search {
    width: 296px;
  }
}

@media only screen and (max-width: 320px) {
  #position-search {
    width: 200px;
  }
}
