#display-search {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 306px;
  max-height: 300px;
  overflow-y: auto;
  color: black;
}

#list-group-navbar-search {
  border-radius: 0ch;
  background-color: #aecdbc;
  color: black;
  font-family: Lato;
  font-size: medium;
  border: none;
  padding: 4px;
  padding-right: 1rem;
  text-decoration: none;
}

#list-group-navbar-search:hover {
  background-color: rgb(136, 198, 126, 0.6);
  transition: 0.7s;
}

#list-group-sidebar-search {
  border-radius: 0ch;
  background-color: #4a8464;
  color: antiquewhite;
  font-family: Lato;
  font-size: medium;
  border: none;
  padding: 0;
}

#list-group-sidebar-search:hover {
  background-color: rgb(136, 198, 126, 0.6);
  transition: 0.7s;
}

div.justify-content-center-search {
  margin: 0;
  padding: 0.2rem;
  align-items: center;
}

div.col-search {
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

div.col-logo-search {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#button-favorite-search {
  /* color: #000000e6; */
  color: antiquewhite;
  background: rgba(76, 175, 80, 0);
  padding: 0.1ch;
  border: none;
  margin-left: 0.5ch;
}

.img-margin {
  width: 40px;
  margin-top: 0.3ch;
  margin-bottom: 0.3ch;
}

.name-search {
  font-weight: bolder;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.locality-search {
  font-size: small;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media only screen and (max-width: 1399px) {
  #display-search {
    width: 261px;
  }
}

@media only screen and (max-width: 1199px) {
  #display-search {
    width: 216px;
  }

  .img-margin {
    width: 34px;
  }
}

@media only screen and (max-width: 991px) {
  #display-search {
    width: 156px;
  }

  .img-margin {
    width: 25px;
  }
}

@media only screen and (max-width: 767px) {
  #display-search {
    width: 516px;
  }

  .img-margin {
    width: 35px;
  }
}

@media only screen and (max-width: 540px) {
  #display-search {
    max-width: 100%;
  }
}
