.heading {
  grid-column-gap: 16px;
  align-items: center;
  background-color: #00897b;
  border-radius: 8px;
  max-width: 100%;
  display: grid;
  grid-template:
    " logo1 title logo2 " 1fr
    " logo1 title logo2 " max-content/max-content max-content max-content;
  padding: 12px 16px 16px;
  margin: 10px 0px;
}

.heading_title {
  align-items: center;
  display: flex;
  grid-area: title;
}

.heading_name {
  color: antiquewhite;
  font-size: 25px;
  font-weight: 700;
}

.heading_info {
  color: antiquewhite;
  grid-area: info;
  hyphens: auto;
  margin-bottom: 8px;
  font-weight: 700;
}

.heading_logo--1 {
  grid-area: logo1;
}

.heading_logo {
  align-items: center;
  background-color: antiquewhite;
  border-radius: 12px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 4px;
  max-width: 60px;
}

.button-group-championship {
  display: flex;
  justify-content: center;
  padding-bottom: 16px;
  gap: 1rem;
}

#button-favorite-championship {
  color: antiquewhite;
  background: rgba(76, 175, 80, 0);
  padding: 0;
  border: none;
}

.icon-championship {
  width: 20px;
  height: 20px;
}

#button-championship {
  color: aliceblue;
  background-color: rgb(131, 125, 125);
  border-color: rgb(131, 125, 125);
  border-radius: 10px;
  align-items: center;
}

#button-championship:hover {
  background-color: rgb(175, 173, 173);
  border-color: rgb(131, 125, 125);
}

#button-championship-selected {
  color: aliceblue;
  background-color: #00897b;
  border-color: #00897b;
  border-radius: 10px;
  align-items: center;
}

@media only screen and (max-width: 991px) {
  .button-group-championship {
    gap: 0.9rem;
  }
}

@media only screen and (max-width: 767px) {
  .button-group-championship {
    gap: 0.8rem;
  }

  .heading_name {
    font-size: 18px;
    font-weight: 600;
  }
}

@media only screen and (max-width: 560px) {
  .heading_name {
    font-size: 16px;
  }
}

@media only screen and (max-width: 520px) {
  .button-group-championship {
    gap: 0.7rem;
  }
}

@media only screen and (max-width: 480px) {
  #button-championship,
  #button-championship-selected {
    font-size: 0.9rem;
    padding: 0.3rem;
  }

  .button-group-championship {
    gap: 0.7rem;
  }

  .heading_name {
    font-size: 14px;
  }
}

@media only screen and (max-width: 435px) {
  #button-championship,
  #button-championship-selected {
    font-size: 0.8rem;
    padding: 0.3rem;
  }

  .button-group-championship {
    gap: 0.5rem;
  }

  .heading_name {
    font-size: 12px;
  }

  .heading {
    grid-column-gap: 12px;
  }
}

@media only screen and (max-width: 400px) {
  #button-championship,
  #button-championship-selected {
    font-size: 0.8rem;
    padding: 0.25rem;
  }

  .button-group-championship {
    gap: 0.4rem;
  }
}

@media only screen and (max-width: 370px) {
  #button-championship,
  #button-championship-selected {
    font-size: 0.8rem;
    padding: 0.25rem;
  }

  .button-group-championship {
    gap: 0.3rem;
  }

  .heading_name {
    font-size: 11px;
  }

  .heading {
    grid-column-gap: 8px;
  }
}

@media only screen and (max-width: 345px) {
  #button-championship,
  #button-championship-selected {
    font-size: 0.7rem;
    padding: 0.25rem;
  }

  .heading_name {
    font-size: 10px;
  }

  .heading {
    grid-column-gap: 4px;
  }
}

@media only screen and (max-width: 325px) {
  #button-championship,
  #button-championship-selected {
    font-size: 0.7rem;
    padding: 0.2rem;
  }
}
