.nameCamp {
  text-align: center;
  background-color: #00897b;
  color: antiquewhite;
  font-family: monospace;
  padding: 1ch;
}

.content-match {
  background-color: #e8faf0;
  border: 0;
  color: black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Lucida Console", "Courier New", monospace;
}

.button-group-match {
  display: flex;
  justify-content: center;
  padding-bottom: 16px;
  margin-right: 15px;
  gap: 1rem;
}

#button-match {
  color: aliceblue;
  background-color: rgb(131, 125, 125);
  border-color: rgb(131, 125, 125);
  border-radius: 10px;
  align-items: center;
}

#button-match:hover {
  background-color: rgb(175, 173, 173);
  border-color: rgb(131, 125, 125);
}

#button-match-selected {
  color: aliceblue;
  background-color: rgba(20, 77, 44, 0.733);
  border-color: rgba(20, 77, 44, 0.733);
  border-radius: 10px;
  align-items: center;
}

#row-content-match {
  margin: 0;
}

#col-content-match {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 1ch;
  text-align: center;
}

#col-results-match {
  text-align: center;
}

.teams-name {
  padding-top: 0.5ch;
}
