#container-match {
  border-radius: 0.5rem;
}

.nameCamp {
  text-align: center;
  background-color: #00897b;
  color: antiquewhite;
  font-family: monospace;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
}

.content-match {
  background-color: #e8faf0;
  border: 0;
  border-radius: 8px;
  color: black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Lucida Console", "Courier New", monospace;
}

.button-group-match {
  display: flex;
  justify-content: center;
  padding-bottom: 16px;
  gap: 1rem;
}

#button-match {
  color: aliceblue;
  background-color: rgb(131, 125, 125);
  border-color: rgb(131, 125, 125);
  border-radius: 10px;
  align-items: center;
}

#button-match:hover {
  background-color: rgb(175, 173, 173);
  border-color: rgb(131, 125, 125);
}

#button-match-selected {
  color: aliceblue;
  background-color: #00897b;
  border-color: #00897b;
  border-radius: 10px;
  align-items: center;
}

#row-content-match {
  margin: 0;
}

#col-content-match {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 1ch;
  text-align: center;
}

div.col-img-match {
  display: flex;
  height: 128px;
  width: 128px;
  justify-content: center;
  align-items: center;
}

img.img-content-match {
  max-height: 100%;
  max-width: 100%;
}

#col-results-match {
  text-align: center;
}

span.teams-name {
  display: flex;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 2rem;
  height: 96px;
}

span.time-match {
  font-size: 1.3rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  margin: 0;
}

.p_matchStadium {
  flex-basis: 100%;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 1.3rem;
  margin: 0;
  margin-bottom: 1rem;
}

.number-results-match {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 60px;
  padding: 2px;
}

.match-section_title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 18px;
  font-weight: 900;
  margin-top: 1.1ch;
  margin-bottom: 1.1ch;
  padding: 7px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #00897b;
  border-radius: 8px;
  color: antiquewhite;
}
