div.center-news {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  flex-direction: row;
}

div.row-news {
  padding: 0.5rem;
  margin: 20px;
  background-color: #e8faf0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 10px;
}

div.spinner-news {
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.link-news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  align-items: center;
}

div.col-news {
  display: flex;
  justify-content: center;
}

.img-news {
  width: 192px;
  border-radius: 8px;
}

.category-news {
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.5rem;
}

.description-news {
  color: black;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  grid-area: content;
  margin: 20px;
}

.description-news:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 575px) {
  div.center-news {
    flex-direction: column;
  }
}
