div.center-news {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  border-radius: 8px;
}

div.center-news:hover {
  background-color: antiquewhite;
}

div.row-news {
  padding: 0.5rem;
  margin: 20px 0;
  background-color: #e8faf0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 10px;
}

div.spinner-news {
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.link-news,
.link2-news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}

.link2-news {
  padding-left: 16px;
}

div.col-news {
  display: flex;
  justify-content: center;
}

.img-news {
  width: 192px;
  border-radius: 8px;
}

.category-news {
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.5rem;
}

.title-news {
  color: black;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  margin: 8px 0;
}

.title-news:hover {
  text-decoration: none;
}

.subtitle-news {
  color: black;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
}

.subtitle-news:hover {
  text-decoration: none;
}

@media only screen and (max-width: 767px) {
  div.center-news {
    flex-direction: column;
  }

  .title-news,
  .subtitle-news {
    text-align: center;
    margin-bottom: 0;
  }

  .link2-news {
    padding-left: 0;
  }
}
