.datas {
  flex-basis: 100%;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  margin: 0;
  margin-bottom: 5px;
}

.partida {
  font-size: large;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #4a8464;
  border: 0;
  color: "white";
  border-bottom: 1px solid rgb(250, 235, 215, 0.4);
}

.matchs-text-home {
  font-family: monospace;
  font-size: 30px;
  font-weight: bolder;
}

.back {
  background-color: gray;
}

#content-matchs-home {
  margin: 0;
  margin-top: 10px;
}

#content-side-bar-home {
  margin: 0;
  margin-top: 10px;
}

