.datas {
  flex-basis: 100%;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  margin: 0;
  margin-bottom: 5px;
}

#partida {
  font-size: large;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 0ch;
  background-color: #4a8464;
  border: none;
  color: antiquewhite;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgb(250, 235, 215, 0.4);
}

#partida:hover {
  background-color: #88c67e;
  transition: 0.7s;
}

.matchs-text-home {
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  font-weight: bold;
}

.match-result-home {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 24px;
  padding: 2px;
}

#content-matchs-home {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

#content-side-bar-home {
  margin: 0;
  margin-top: 10px;
}

.align-home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.align-team-home-home {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
}

.align-team-away-home {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

#name-team-home {
  overflow: hidden;
  white-space: nowrap;
}

#button-favorite-home {
  background: rgba(76, 175, 80, 0);
  padding: 0.1ch;
  border: none;
}

#link-home {
  text-decoration: none;
}
