@font-face {
  font-family: Barrio;
  src: url("../public/Stadio-Now-Novarese-trial.ttf");
}

#root {
  background-color: #284937;
}

.datas {
  flex-basis: 100%;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.partida {
  font-size: large;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2vw 0vw 2vw 0vw;
}

.back {
  background-color: gray;
}

h1 {
  display: inline;
  min-width: max-content;
}

p {
  text-align: center;
  font-size: large;
}

body {
  margin: 0px;
}

/* Tabela */

.container-home {
}

/* SideBar */

#container-side-bar {
  background-color: #4a8464;
  padding: 0;
  margin-top: 10px;
}

.pad {
  margin: 0.5ch;
}

.titleSideBar {
  border-radius: 0ch;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #4a8464;
  font-family: Barrio;
  font-size: larger;
  color: antiquewhite;
  border: none;
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom: 1px solid rgb(250, 235, 215, 0.4);
}

#title-text-side-bar {
  padding-left: 10px;
}

.pais-margin {
  margin-top: 0.3ch;
  margin-bottom: 0.3ch;
}

#side-bar-link {
  text-decoration: none;
}

#list-group-sidebar {
  border-radius: 0ch;
  background-color: #4a8464;
  font-family: Barrio;
  font-size: medium;
  border: none;
}

.justify-content-md-center {
  align-items: center;
  color: antiquewhite;
}

#name-camp-sidebar {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#list-group-sidebar:hover {
  background-color: #88c67e;
  transition: 0.7s;
}

#button-favorite {
  background: rgba(76, 175, 80, 0);
  padding: 0.1ch;
  border: none;
  margin-left: 0.5ch;
}

/* Match*/

.nameCamp {
  text-align: center;
  color: antiquewhite;
  font-family: monospace;
  padding: 1ch;
}

.top-nameCamp {
  background-color: #00897b;
}

.content-match {
  background-color: #e8faf0;
  border: 0;
  color: black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Lucida Console", "Courier New", monospace;
}

.button-group-match {
  display: flex;
  justify-content: center;
  padding-bottom: 16px;
  margin-right: 15px;
  gap: 1rem;
}

#button-match {
  color: aliceblue;
  background-color: rgb(131, 125, 125);
  border-color: rgb(131, 125, 125);
  border-radius: 10px;
  align-items: center;
}

#button-match:hover {
  background-color: rgb(175, 173, 173);
  border-color: rgb(131, 125, 125);
}

#button-match-selected {
  color: aliceblue;
  background-color: rgba(20, 77, 44, 0.733);
  border-color: rgba(20, 77, 44, 0.733);
  border-radius: 10px;
  align-items: center;
}

#row-content-match {
  margin: 0;
}

#col-content-match {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 1ch;
  text-align: center;
}

#col-results-match {
  text-align: center;
}

.teams-name {
  padding-top: 0.5ch;
}

/* Header */

.bg-teal {
  background-color: #aecdbc;
  font-family: Barrio;
  font-weight: bold;
  font-size: large;
}

.nav-img {
  margin-bottom: 5px;
}
