#container-buttonStatistic {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
}

.butSta-section {
  overflow-x: auto;
  display: flex;
  padding: 10px;
  margin-top: 1.1ch;
  margin-bottom: 1.1ch;
  background-color: #e8faf0;
  border-radius: 8px;
  font-family: "Lucida Console", "Courier New", monospace;
  flex-direction: column;
  margin-bottom: 30px;
}

.butSta-header {
  text-align: center;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
}

#text-center {
  text-align: center;
  padding: 0.8rem;
}

#text-left {
  text-align: left;
  padding: 0.8rem;
}

#text-goals {
  font-weight: bolder;
  text-align: center;
  padding: 0.8rem;
}

#text-value-center-sta {
  text-align: center;
  padding: 0.8rem;
  width: 300px;
}

#stat_Notitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 18px;
  font-weight: 900;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 7px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #00897b;
  border-radius: 8px;
  color: antiquewhite;
}

@media only screen and (max-width: 767px) {
  #text-value-center-sta {
    min-width: 240px;
  }
}

@media only screen and (max-width: 489px) {
  #text-value-center-sta {
    min-width: 200px;
  }
}

@media only screen and (max-width: 349px) {
  #text-value-center-sta {
    min-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
