.datas {
  flex-basis: 100%;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.partida {
  font-size: large;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2vw 0vw 2vw 0vw;
}

.pad {
  margin: 1.5ch;
}

.back {
  background-color: gray;
}

h1 {
  display: inline;
  min-width: max-content;
}

p {
  text-align: center;
  font-size: large;
}

body {
  margin: 0px;
}
