#container-buttonEst {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
}

#est-section_title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 18px;
  font-weight: 900;
  margin-top: 1.1ch;
  margin-bottom: 1.1ch;
  padding: 7px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #00897b;
  border-radius: 8px;
  color: antiquewhite;
}

#progress-bar {
  background-color: rgb(175, 173, 173);
}

.stat_category {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.est-section {
  display: flex;
  padding: 10px;
  margin-top: 1.1ch;
  margin-bottom: 1.1ch;
  background-color: #e8faf0;
  border-radius: 8px;
  font-family: "Lucida Console", "Courier New", monospace;
  flex-direction: column;
}

.stat_category {
  margin-bottom: 8px;
  font-weight: 700;
}

.stat_row {
  margin: 16px 12px;
}
