.bg-teal {
  background-color: #aecdbc;
  font-family: Barrio;
  font-weight: bold;
  font-size: large;
}

.nav-img {
  margin-bottom: 5px;
}

#footer {
  background-color: #aecdbc;
  font-family: Barrio;
  font-weight: bold;
  font-size: large;
}

.footer-div {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-icon {
  margin-right: 5px;
}

#footer-link {
  text-decoration: none;
}
