.bg-teal {
  background-color: #aecdbc;
  font-family: Barrio;
  font-weight: bold;
  font-size: large;
}

.nav-img {
  margin-bottom: 5px;
}

#saiarapariga {
  position: absolute;
  top: 10%;
  left: 68%;
}
