.bg-teal {
  background-color: #aecdbc;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bold;
  font-size: large;
}

.nav-img {
  margin-bottom: 5px;
}

#position-search {
  background-color: #aecdbc;
  position: absolute;
  top: 10%;
  left: 68%;
}
