.ListItem {
  font-family: Barrio;
  background-color: #4a8464;
  color: #4a8464;
  color-scheme: #4a8464;
  font-size: medium;
}

.pad {
  margin: 0.5ch;
}

@font-face {
  font-family: Barrio;
  src: url("../../public/Stadio-Now-Novarese-trial.ttf");
}

.list-group-item {
  background-color: #4a8464;
}
