@font-face {
  font-family: Barrio;
  src: url("../../public/fonts/Stadio-Now-Novarese-trial.ttf");
}

/* remover depois abaixo */

h1 {
  display: inline;
  min-width: max-content;
}

p {
  text-align: center;
  font-size: large;
}

body {
  margin: 0px;
}

#root {
  background-color: white;
}
