#container-results {
  background-color: #4a8464;
  padding: 0;
}

.datas {
  flex-basis: 100%;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  margin: 0;
  margin-bottom: 5px;
}

#partida {
  font-size: large;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 0ch;
  background-color: #4a8464;
  border: none;
  color: antiquewhite;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgb(250, 235, 215, 0.4);
}

#partida:hover {
  background-color: #88c67e;
  transition: 0.7s;
}

.matchs-text-home {
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  font-weight: bold;
}

.match-result-home {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 24px;
  justify-content: center;
}

.button-group-results {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  gap: 1rem;
}

select.form-results {
  color: antiquewhite;
  border-radius: 10px;
  background-color: rgb(131, 125, 125);
  border-color: rgb(131, 125, 125);
  width: auto;
}

#button-filter {
  color: antiquewhite;
  background-color: rgb(131, 125, 125);
  border-color: rgb(131, 125, 125);
  border-radius: 10px;
  align-items: center;
}

#button-filter:hover {
  background-color: rgb(175, 173, 173);
  border-color: rgb(131, 125, 125);
}

#button-filter-selected {
  color: antiquewhite;
  background-color: #000000b3;
  border-color: #000000b3;
  border-radius: 10px;
  align-items: center;
}

.match-result-number-home {
  background-color: antiquewhite;
  color: #4a8464;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 24px;
  justify-content: center;
}

.align-home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.align-team-home-home {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
}

.align-team-away-home {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

#name-team-home {
  overflow: hidden;
  white-space: nowrap;
}

#button-favorite-home {
  background: rgba(76, 175, 80, 0);
  padding: 0.1ch;
  border: none;
}

#link-home {
  text-decoration: none;
}
