#container-results {
  background-color: #e8faf0;
  border-radius: 0.5rem;
  padding: 0;
}

div.match {
  background-color: #e8faf0;
  color: black;
  font-size: large;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 0;
  border-radius: 0.5rem;
  border: none;
}

.match:hover {
  background-color: rgb(136, 198, 126, 0.6);
  transition: 0.7s;
}

hr.border-match {
  margin: 0 0.5rem;
  color: rgb(74, 132, 100);
  border-top: 1px solid;
}

.matchs-text-results {
  font-family: Lato;
  font-size: 1rem;
  font-weight: bold;
}

.match-results {
  font-family: Lato;
  font-weight: bold;
  font-size: 2rem;
  justify-content: center;
}

.match-number-results {
  background-color: antiquewhite;
  color: black;
  padding: 0 0.4rem;
  font-size: 1.5rem;
  font-family: Lato;
  font-weight: bold;
  border-radius: 0.5rem;
  justify-content: center;
}

.button-group-results {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  gap: 1rem;
}

select.form-results {
  color: antiquewhite;
  border-radius: 0.75rem;
  padding: 0.25rem;
  background-color: rgb(131, 125, 125);
  border-color: rgb(131, 125, 125);
  width: auto;
}

button.btn-primary {
  --bs-btn-active-color: antiquewhite;
  --bs-btn-active-bg: rgb(131, 125, 125);
  --bs-btn-active-border-color: rgb(131, 125, 125);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

button.button-filter {
  color: antiquewhite;
  background-color: rgb(131, 125, 125);
  border-color: rgb(131, 125, 125);
  border-radius: 0.75rem;
  align-items: center;
}

button.button-filter:disabled {
  color: antiquewhite;
  background-color: rgb(131, 125, 125);
  border-color: rgb(131, 125, 125);
}

button.button-filter:hover {
  background-color: rgb(175, 173, 173);
  border-color: rgb(131, 125, 125);
}

button.button-filter-selected {
  color: antiquewhite;
  background-color: #00897b;
  border-color: #00897b;
  border-radius: 0.75rem;
  align-items: center;
}

button.button-filter-selected:hover {
  background-color: #00897b;
  border-color: #00897b;
  color: antiquewhite;
}

div.spinner-results {
  display: flex;
  justify-content: center;
}

.img-results {
  max-width: 90%;
  max-height: 100%;
}

.align-results {
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.align-team-home-results {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
}

.align-team-away-results {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.name-team-results {
  overflow: hidden;
  white-space: nowrap;
}

a.link-results {
  text-decoration: none;
}

.championship-results {
  border-radius: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  display: flex;
  justify-content: center;
  background-color: rgb(74, 132, 100);
}

.col-championship-results {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-championship-results {
  color: antiquewhite;
}

button.button-championship-results {
  color: antiquewhite;
  text-decoration: none;
  background: rgba(76, 175, 80, 0);
  padding: 0.1ch;
  border: none;
}

.goal-effect-results {
  color: rgb(74, 132, 100);
  width: 1.3rem;
  height: 1.3rem;
  padding-left: 0.2rem;
  animation: animate 3s linear infinite;
}

@keyframes animate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}
