#container-results {
  background-color: #e8faf0;
  border-radius: 0.5rem;
  padding: 0;
}

div.match {
  background-color: #e8faf0;
  color: black;
  font-size: large;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 0;
  border-radius: 0.5rem;
  border: none;
}

.match:hover {
  background-color: rgb(136, 198, 126, 0.6);
  transition: 0.7s;
}

hr.border-match {
  z-index: 0;
  margin: 0 0.5rem;
  color: rgb(74, 132, 100);
  border-top: 1px solid;
}

.matchs-text-results {
  font-family: Lato;
  font-size: 1rem;
  font-weight: bold;
  padding: 2px;
}

.col-first-results {
  padding-left: 4px;
  color: rgb(74, 132, 100);
}

.match-results {
  font-family: Lato;
  font-weight: bold;
  font-size: 2rem;
  justify-content: center;
}

.match-number-results {
  background-color: antiquewhite;
  color: black;
  padding: 0 0.4rem;
  font-size: 1.5rem;
  font-family: Lato;
  font-weight: bold;
  border-radius: 0.5rem;
  justify-content: center;
}

.button-group-results {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  gap: 1rem;
}

select.form-results {
  color: antiquewhite;
  border-radius: 0.75rem;
  padding: 0.5rem;
  background-color: rgb(131, 125, 125);
  border-color: rgb(131, 125, 125);
  width: auto;
}

button.btn-primary {
  --bs-btn-active-color: antiquewhite;
  --bs-btn-active-bg: rgb(131, 125, 125);
  --bs-btn-active-border-color: rgb(131, 125, 125);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

button.button-filter {
  color: antiquewhite;
  padding: 0.5rem;
  background-color: rgb(131, 125, 125);
  border-color: rgb(131, 125, 125);
  border-radius: 0.75rem;
  align-items: center;
}

button.button-filter:disabled {
  color: antiquewhite;
  background-color: rgb(131, 125, 125);
  border-color: rgb(131, 125, 125);
}

button.button-filter:hover {
  background-color: rgb(175, 173, 173);
  border-color: rgb(131, 125, 125);
}

button.button-filter-selected {
  color: antiquewhite;
  padding: 0.5rem;
  background-color: #00897b;
  border-color: #00897b;
  border-radius: 0.75rem;
  align-items: center;
}

button.button-filter-selected:hover {
  background-color: #00897b;
  border-color: #00897b;
  color: antiquewhite;
}

div.spinner-results {
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.img-results {
  max-width: 90%;
  max-height: 100%;
}

.align-results {
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.align-team-home-results {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
}

.align-team-away-results {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.name-team-results {
  overflow: hidden;
  white-space: nowrap;
}

a.link-results {
  display: flex;
  text-decoration: none;
  flex-direction: column;
}

.championship-results {
  border-radius: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  display: flex;
  justify-content: center;
  background-color: rgb(74, 132, 100);
}

.col-championship-results {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-championship-results {
  color: antiquewhite;
}

button.button-championship-results {
  color: antiquewhite;
  text-decoration: none;
  background: rgba(76, 175, 80, 0);
  display: flex;
  border: none;
}

.goal-effect-results {
  color: rgb(74, 132, 100);
  width: 1.3rem;
  height: 1.3rem;
  padding-left: 0.2rem;
  animation: animate 2s linear infinite;
}

.results-section_title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 18px;
  font-weight: 900;
  padding: 7px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #00897b;
  border-radius: 8px;
  color: antiquewhite;
}

@keyframes animate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

@media only screen and (max-width: 991px) {
  button.button-filter,
  button.button-filter-selected,
  select.form-results {
    font-size: 0.8rem;
  }

  .matchs-text-results {
    font-size: 0.8rem;
  }

  .text-championship-results {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 767px) {
  button.button-filter,
  button.button-filter-selected,
  select.form-results {
    font-size: 1rem;
    padding: 0.4rem;
  }

  .match-number-results {
    padding: 0 0.35rem;
    font-size: 1.3rem;
  }

  .matchs-text-results,
  .text-championship-results {
    font-size: 0.9rem;
  }

  .button-group-results {
    gap: 0.8rem;
  }
}

@media only screen and (max-width: 520px) {
  button.button-filter,
  button.button-filter-selected,
  select.form-results {
    font-size: 0.9rem;
    padding: 0.4rem;
  }

  .matchs-text-results,
  .text-championship-results {
    font-size: 0.8rem;
  }

  .button-group-results {
    gap: 0.7rem;
  }
}

@media only screen and (max-width: 480px) {
  button.button-filter,
  button.button-filter-selected,
  select.form-results {
    font-size: 0.9rem;
    padding: 0.3rem;
  }

  .match-number-results {
    padding: 0 0.3rem;
    font-size: 1.2rem;
  }

  .matchs-text-results,
  .text-championship-results {
    font-size: 0.8rem;
  }

  .button-group-results {
    gap: 0.5rem;
  }
}

@media only screen and (max-width: 435px) {
  button.button-filter,
  button.button-filter-selected,
  select.form-results {
    font-size: 0.8rem;
    padding: 0.3rem;
  }

  .match-number-results {
    padding: 0 0.3rem;
    font-size: 1.2rem;
  }

  .matchs-text-results,
  .text-championship-results {
    font-size: 0.7rem;
  }

  .button-group-results {
    gap: 0.4rem;
  }
}

@media only screen and (max-width: 400px) {
  button.button-filter,
  button.button-filter-selected,
  select.form-results {
    font-size: 0.75rem;
    padding: 0.25rem;
  }

  .match-number-results {
    padding: 0 0.25rem;
    font-size: 1.1rem;
  }

  .matchs-text-results,
  .text-championship-results {
    font-size: 0.7rem;
  }

  .button-group-results {
    gap: 0.3rem;
  }
}

@media only screen and (max-width: 370px) {
  button.button-filter,
  button.button-filter-selected,
  select.form-results {
    font-size: 0.7rem;
    padding: 0.25rem;
  }

  .match-number-results {
    padding: 0 0.2rem;
    font-size: 1rem;
  }

  .matchs-text-results,
  .text-championship-results {
    font-size: 0.65rem;
  }

  .button-group-results {
    gap: 0.2rem;
  }
}

@media only screen and (max-width: 345px) {
  button.button-filter,
  button.button-filter-selected,
  select.form-results {
    font-size: 0.65rem;
    padding: 0.25rem;
  }
}

@media only screen and (max-width: 325px) {
  button.button-filter,
  button.button-filter-selected,
  select.form-results {
    font-size: 0.6rem;
    padding: 0.2rem;
  }

  .match-number-results {
    padding: 0 0.2rem;
    font-size: 1rem;
  }

  .matchs-text-results,
  .text-championship-results {
    font-size: 0.6rem;
  }

  .button-group-results {
    gap: 0.2rem;
  }
}
