#container-side-bar {
  background-color: #4a8464;
  border-radius: 0.5rem;
  padding: 0;
}

.pad {
  margin: 0.5ch;
}

#titleSideBar {
  border-radius: 0ch;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Barrio;
  font-size: larger;
  color: antiquewhite;
  padding-top: 4px;
  padding-bottom: 4px;
}

.border-bottom-side-bar {
  border-bottom: 1px solid rgb(250, 235, 215, 0.4);
}

#title-text-side-bar {
  padding-left: 10px;
}

.pais-margin {
  width: 25px;
  margin-top: 0.3ch;
  margin-bottom: 0.3ch;
}

#side-bar-link {
  text-decoration: none;
}

#list-group-sidebar {
  border-radius: 0ch;
  background-color: #4a8464;
  font-family: Barrio;
  font-size: medium;
  border: none;
}

#list-group-sidebar:hover {
  background-color: rgb(136, 198, 126, 0.6);
  transition: 0.7s;
}

.justify-content-md-center {
  align-items: center;
  color: antiquewhite;
}

#name-camp-sidebar {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#button-favorite-sidebar {
  color: antiquewhite;
  background: rgba(76, 175, 80, 0);
  padding: 0.1ch;
  border: none;
  margin-left: 0.5ch;
}

#form-sidebar {
  font-family: Lato, sans-serif;
  padding: 5px;
}

input.form-control:focus,
input.form-control:active {
  background-color: #fff;
  border-color: #fff;
  outline: 0;
  box-shadow: 0 0 0 0.15rem rgb(136, 198, 126, 0.6);
}
