#container-side-bar {
  background-color: #4a8464;
  border-radius: 0.5rem;
  padding: 0;
}

.pad {
  margin: 0.5ch;
}

#titleSideBar {
  border-radius: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Barrio;
  font-size: larger;
  color: antiquewhite;
  padding-top: 4px;
  padding-bottom: 4px;
}

.none-sidebar {
  border-radius: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Barrio;
  font-size: 1rem;
  color: antiquewhite;
  padding-top: 4px;
  padding-bottom: 4px;
}

.border-bottom-side-bar {
  border-bottom: 1px solid rgb(250, 235, 215, 0.4);
}

#title-text-side-bar {
  padding-left: 10px;
}

div.col-sidebar-center {
  display: flex;
  justify-content: center;
  padding: 0;
}

div.col-sidebar-left {
  display: flex;
  justify-content: flex-start;
  padding: 0;
}

div.col-sidebar {
  padding: 0;
}

div.spinner-sidebar {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  color: antiquewhite;
}

.pais-margin {
  max-height: 34px;
  max-width: 34px;
  margin-top: 0.3ch;
  margin-bottom: 0.3ch;
}

#side-bar-link {
  text-decoration: none;
}

#list-group-sidebar {
  border-radius: 0ch;
  background-color: #4a8464;
  font-family: Barrio;
  font-size: medium;
  border: none;
}

#list-group-sidebar:hover {
  background-color: rgb(136, 198, 126, 0.6);
  transition: 0.7s;
}

.justify-content-md-center {
  align-items: center;
  height: 38px;
  color: antiquewhite;
  display: flex;
  align-content: center;
}

#name-camp-sidebar {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#button-favorite-sidebar {
  color: antiquewhite;
  background: rgba(76, 175, 80, 0);
  padding: 0;
  border: none;
}

#form-sidebar {
  font-family: Lato, sans-serif;
  padding: 5px;
}

input.form-control:focus,
input.form-control:active {
  background-color: #fff;
  border-color: #fff;
  outline: 0;
  box-shadow: 0 0 0 0.15rem rgb(136, 198, 126, 0.6);
}

@media only screen and (max-width: 1199px) {
  .pais-margin {
    max-height: 32px;
    max-width: 32px;
  }

  #title-text-side-bar {
    padding-left: 8px;
    font-size: 1rem;
  }

  .none-sidebar {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 991px) {
  .pais-margin {
    max-height: 30px;
    max-width: 30px;
    padding: 3px;
  }

  .none-sidebar {
    font-size: 0.7rem;
  }

  #titleSideBar {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }

  #title-text-side-bar {
    padding-left: 8px;
    font-size: 0.75rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  #name-camp-sidebar {
    font-size: 0.75rem;
    padding-left: 0.2rem;
  }
}

@media only screen and (max-width: 767px) {
  #titleSideBar {
    font-size: 1.2rem;
  }

  .none-sidebar {
    font-size: 1rem;
  }

  #title-text-side-bar {
    padding-left: 8px;
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  #name-camp-sidebar {
    font-size: 1rem;
    padding-left: 0;
  }

  .pais-margin {
    max-width: 35px;
    max-height: 35px;
    padding: 0;
  }
}
